@using Model.ViewModels.Post

@model PostViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Head {

}

<!-- Start inner Page hero -->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg-blog parallax" data-bg-img="" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".5"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">نشریه پردیس بتن - @Model.PostCategoryName</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/"><i class="bi bi-house icon "></i>خانه</a></li>
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">نشریه پردیس بتن</a></li>
                    <li class="breadcrumb-item active">@Model.Title</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero -->
<!-- Start blog-1-col-posts-->
<section class="blog blog-home mega-section">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12 mx-auto">
                <h2 class="post-title">
                    @Model.Title
                </h2>
            </div>

            <div class="col-12 col-lg-10 mx-auto">
                <div class="post-main-area">
                    <div class="post-info">
                        <a class="info post-cat" href="#">
                            <i class="fas fa-list-alt icon"></i>@Model.PostCategoryName
                        </a>
                        <a class="info post-author" href="#"><i class="fas fa-user icon"></i>مدیر سایت</a>
                        <a class="info post-date" href="#"><i class="fas fa-history icon"></i><span id="post-date">@Model.RegDate</span></a>

                    </div>
                </div>

                <div class="post-content">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog-1-col-posts-->
@section Scripts {
    <script>
        $(document).ready(function () {
            moment.loadPersian({ usePersianDigits: true });
            var formattedDate = moment($("#post-date").text()).format('dddd jD jMMMM jYYYY');
            $("#post-date").text(formattedDate);

        });
    </script>

}